In [1]:
import numpy

In [2]:
import pandas as pd

In [3]:
# pandas Series

In [4]:
s = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
# Pandas Dataframe

In [6]:
data = {'Country':
       ['Pakistan','USA','India'],
       'Capital':['Islamabad','Washinton','Dehli'],
       'Population':['220M','320M','1300M']}
        
df = pd.DataFrame(data,columns = ['Country','Capital','Population'])

In [7]:
df

    Country    Capital Population
0  Pakistan  Islamabad       220M
1       USA  Washinton       320M
2     India      Dehli      1300M

In [8]:
# How you can handle duplicate values in a dataset for a variable in Python

In [9]:
data = pd.read_csv('BMW.DE.csv')

In [10]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-10,80.540001,80.540001,79.760002,80.010002,75.998039,1154715
1,2018-07-11,79.250000,79.599998,78.239998,78.870003,74.915207,1715985
2,2018-07-12,80.599998,80.730003,79.099998,79.370003,75.390137,1557826
3,2018-07-13,79.900002,80.059998,79.309998,79.620003,75.627594,1053721
4,2018-07-16,79.550003,79.980003,78.769997,79.290001,75.314140,963914
...,...,...,...,...,...,...,...
247,2019-07-04,66.440002,67.470001,66.440002,67.110001,67.110001,1641200
248,2019-07-05,67.290001,67.410004,66.589996,67.050003,67.050003,1332435
249,2019-07-08,66.610001,67.410004,66.480003,66.699997,66.699997,1091683
250,2019-07-09,66.349998,66.500000,65.250000,66.169998,66.169998,1823803
251,2019-07-10,65.589996,66.209999,65.489998,65.650002,65.650002,1386605

In [11]:
data.shape

(252, 7)

In [13]:
duplicates = data.duplicated()
sum(duplicates)

0

In [18]:
# removing dupliate
data = data.drop_duplicates()
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-10,80.540001,80.540001,79.760002,80.010002,75.998039,1154715
1,2018-07-11,79.250000,79.599998,78.239998,78.870003,74.915207,1715985
2,2018-07-12,80.599998,80.730003,79.099998,79.370003,75.390137,1557826
3,2018-07-13,79.900002,80.059998,79.309998,79.620003,75.627594,1053721
4,2018-07-16,79.550003,79.980003,78.769997,79.290001,75.314140,963914
...,...,...,...,...,...,...,...
247,2019-07-04,66.440002,67.470001,66.440002,67.110001,67.110001,1641200
248,2019-07-05,67.290001,67.410004,66.589996,67.050003,67.050003,1332435
249,2019-07-08,66.610001,67.410004,66.480003,66.699997,66.699997,1091683
250,2019-07-09,66.349998,66.500000,65.250000,66.169998,66.169998,1823803
251,2019-07-10,65.589996,66.209999,65.489998,65.650002,65.650002,1386605

In [19]:
# Necessary librrarie import

In [43]:
import sklearn
from sklearn import datasets
from  sklearn import tree
from sklearn.model_selection import train_test_split

In [37]:
iris = datasets.load_iris()
X = iris.data
y = iris.target

In [47]:
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [48]:
my_classifier = tree.DecisionTreeClassifier()

In [50]:
my_classifier.fit(X_train,y_train)

DecisionTreeClassifier()

In [55]:
pred = my_classifier.predict(X_test)

In [56]:
from sklearn.metrics import accuracy_score

In [59]:
accuracy_score( y_test,pred)

0.9555555555555556