In [3]:
import tensorflow as tf

ImportError: No module named 'tensorflow'

In [4]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
import pandas_datareader as dr

In [7]:
import matplotlib.pyplot as plt

In [8]:
from tensorflow.python.framework import ops

ImportError: No module named 'tensorflow'

In [ ]:
y_hat=tf.constant(36,name='y_hat')

In [ ]:
y  =tf.constant(39,name='y')

In [ ]:
loss =tf.Variable((y_hat-y)**2, name='loss')

In [ ]:
init=tf.global_variables_initializer()
with tf.Session() as session:
    session.run(init)
    print(session.run(loss))

In [ ]:
a =tf.constant(2)
b =tf.constant(10)
c=tf.multiply(a,b)
print(c)

In [ ]:
session =tf.Session()
print(session.run(c))

In [ ]:
x =tf.placeholder(tf.int64 ,name='x')
print(session.run(2*x,feed_dict ={x:3}))
session.close()

<h3>Logit Function</h3>

In [ ]:
np.random.randn(4)

In [ ]:
np.random.randn(2,3)

In [ ]:
x1 =tf.constant(5,name='x1')
x2 =tf.constant(20,name='x2')
Addition =tf.add(x1,x2)
with tf.Session() as sess:
    result=sess.run(Addition)
print(result)

In [ ]:
x1 =tf.constant(4,name ='x1')
x2 =tf.constant(70 ,name ='x2')
Multip =tf.multiply(x1,x2)
with tf.Session() as love:
     result=love.run(Multip)
print(result)

In [ ]:
x1 =tf.constant([[2],[4]],name ='x1')
x2=tf.constant([[3,6]], name ='x2')
operation =tf.matmul(x1,x2)
with tf.Session() as sess:
    result=sess.run(operation)
print(result)

<h1>Exercise</h1>

In [9]:
def compute_logits():
    np.random.seed(1)
    W =tf.constant(np.random.randn(4,3),name ="W")
    X =tf.constant(np.random.randn(3,1),name ="X")
    b =tf.constant(np.random.randn(4,1),name ="b")
    operation =tf.add(tf.matmul(W,X),b)
    sess =tf.Session()
    result =sess.run(operation)
    print(sess.run(W).dot(sess.run(X))+sess.run(b)==result)
    sess.close()
    return result

In [10]:
print("result=" +str(compute_logits()))

NameError: name 'tf' is not defined

<h1>Computing the sigmoid function</h1>

In [11]:
def sigmoid(z):
   
    x =tf.placeholder(tf.float32,name="x")
    sigmoid =tf.sigmoid(x)
    with tf.Session() as sess:
        result=sess.run(sigmoid,feed_dict={x:z})
    return result

In [12]:
print("sigmoid(0)="+str(sigmoid(0)))

NameError: name 'tf' is not defined

In [13]:
def cost(predictions,labels):
    z =tf.placeholder(tf.float32,name="z")
    x =tf.placeholder(tf.float32,name="x")
    cost =tf.reduce_mean(tf.square(z-y))
    sess =tf.Session()
    cost =sess.run(cost,feed_dict ={z:predictions, y:labels})
    sess.close()
    return cost

<h3>Initialize with zeros and ones</h3>

In [14]:
def ones(shape):
    ones =tf.ones(shape)
    sess=tf.Session()
    ones =sess.run(ones)
    return ones

In [15]:
print("ones="+str(ones([9])))

NameError: name 'tf' is not defined

<h1>Part II.Credit Scoring</h1>
<h3>1-Overview of the data set</h3>

In [16]:
df = pd.read_csv("C:data_file\AMZN.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-11-23,1517.000000,1536.199951,1501.810059,1502.060059,1502.060059,2707600
1,2018-11-26,1539.000000,1584.810059,1524.219971,1581.329956,1581.329956,6257700
2,2018-11-27,1575.989990,1597.650024,1558.010010,1581.420044,1581.420044,5783200
3,2018-11-28,1613.920044,1681.449951,1601.219971,1677.750000,1677.750000,8458700
4,2018-11-29,1674.989990,1689.989990,1652.329956,1673.569946,1673.569946,6613200
5,2018-11-30,1679.500000,1696.000000,1666.500000,1690.170044,1690.170044,5761800
6,2018-12-03,1769.459961,1778.339966,1730.000000,1772.359985,1772.359985,6862300
7,2018-12-04,1756.000000,1770.339966,1665.000000,1668.400024,1668.400024,8694500
8,2018-12-06,1614.869995,1701.050049,1609.849976,1699.189941,1699.189941,8789400
9,2018-12-07,1705.069946,1718.930054,1625.459961,1629.130005,1629.130005,7576100
10,2018-12-10,1623.839966,1657.989990,1590.869995,1641.030029,1641.030029,7494800
11,2018-12-11,1678.000000,1679.469971,1619.599976,1643.239990,1643.239990,6244700
12,2018-12-12,1669.000000,1704.989990,1660.270020,1663.540039,1663.540039,6598000
13,2018-12-13,1680.000000,1692.119995,1641.500000,1658.380005,1658.380005,5271300
14,2018-12-14,1638.000000,1642.569946,1585.000000,1591.910034,1591.910034,6367200
15,2018-12-17,1566.000000,1576.130005,1505.010010,1520.910034,1520.910034,8829800
16,2018-12-18,1540.000000,1567.550049,1523.010010,1551.479980,1551.479980,6523000
17,2018-12-19,1543.050049,1584.530029,1483.180054,1495.079956,1495.079956,8792200
18,2018-12-20,1484.000000,1509.500000,1432.689941,1460.829956,1460.829956,9991800
19,2018-12-21,1464.989990,1480.000000,1363.959961,1377.449951,1377.449951,13640300
20,2018-12-24,1346.000000,1396.030029,1307.000000,1343.959961,1343.959961,7220000
21,2018-12-26,1368.890015,1473.160034,1363.010010,1470.900024,1470.900024,10411800
22,2018-12-27,1454.199951,1469.000000,1390.310059,1461.640015,1461.640015,9722000
23,2018-12-28,1473.349976,1513.469971,1449.000000,1478.020020,1478.020020,8829000
24,2018-12-31,1510.800049,1520.760010,1487.000000,1501.969971,1501.969971,6954500
25,2019-01-02,1465.199951,1553.359985,1460.930054,1539.130005,1539.130005,7983100
26,2019-01-03,1520.010010,1538.000000,1497.109985,1500.280029,1500.280029,6953200
27,2019-01-04,1530.000000,1594.000000,1518.310059,1575.390015,1575.390015,9182600
28,2019-01-07,1602.310059,1634.560059,1589.189941,1629.510010,1629.510010,7993200
29,2019-01-08,1664.689941,1676.609985,1616.609985,1656.579956,1656.579956,8881400
...,...,...,...,...,...,...,...
94,2019-04-11,1848.699951,1849.949951,1840.310059,1844.069946,1844.069946,2654800
95,2019-04-12,1848.400024,1851.500000,1841.300049,1843.060059,1843.060059,3114400
96,2019-04-15,1842.000000,1846.849976,1818.900024,1844.869995,1844.869995,3724400
97,2019-04-16,1851.349976,1869.770020,1848.000000,1863.040039,1863.040039,3044600
98,2019-04-17,1872.989990,1876.469971,1860.439941,1864.819946,1864.819946,2893500
99,2019-04-18,1868.790039,1870.819946,1859.479980,1861.689941,1861.689941,2749900
100,2019-04-22,1855.400024,1888.420044,1845.640015,1887.310059,1887.310059,3373800
101,2019-04-23,1891.199951,1929.260010,1889.579956,1923.770020,1923.770020,4640400
102,2019-04-24,1925.000000,1929.689941,1898.160034,1901.750000,1901.750000,3675800
103,2019-04-25,1917.000000,1922.449951,1900.310059,1902.250000,1902.250000,6099100
104,2019-04-26,1929.000000,1951.000000,1898.000000,1950.630005,1950.630005,8432600
105,2019-04-29,1949.000000,1956.339966,1934.089966,1938.430054,1938.430054,4021300
106,2019-04-30,1930.099976,1935.709961,1906.949951,1926.520020,1926.520020,3506000
107,2019-05-01,1933.089966,1943.640015,1910.550049,1911.520020,1911.520020,3117000
108,2019-05-02,1913.329956,1921.550049,1881.869995,1900.819946,1900.819946,3962900
109,2019-05-03,1949.000000,1964.400024,1936.000000,1962.459961,1962.459961,6381600
110,2019-05-06,1917.979980,1959.000000,1910.500000,1950.550049,1950.550049,5417800
111,2019-05-07,1939.989990,1949.099976,1903.380005,1921.000000,1921.000000,5902100
112,2019-05-08,1918.869995,1935.369995,1910.000000,1917.770020,1917.770020,4078600
113,2019-05-09,1900.000000,1909.400024,1876.000000,1899.869995,1899.869995,5308300
114,2019-05-10,1898.000000,1903.790039,1856.000000,1889.979980,1889.979980,5718000
115,2019-05-13,1836.560059,1846.540039,1818.000000,1822.680054,1822.680054,5783400
116,2019-05-14,1839.500000,1852.439941,1815.750000,1840.119995,1840.119995,4629100
117,2019-05-15,1827.949951,1874.430054,1823.000000,1871.150024,1871.150024,4692600
118,2019-05-16,1885.939941,1917.510010,1882.290039,1907.569946,1907.569946,4707800
119,2019-05-17,1893.050049,1910.530029,1867.329956,1869.000000,1869.000000,4736600
120,2019-05-20,1852.689941,1867.780029,1835.540039,1858.969971,1858.969971,3798200
121,2019-05-21,1874.790039,1879.000000,1846.000000,1857.520020,1857.520020,4005100
122,2019-05-22,1851.780029,1871.489990,1851.000000,1859.680054,1859.680054,2936600
123,2019-05-23,1836.589966,1844.000000,1804.199951,1815.479980,1815.479980,4411800

In [17]:
x = df[['High','Low','Open','Close']]
y =df['Adj Close']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2)

In [20]:
len(x_train)

99

<h1>2-Data Preprocessing</h1>

In [21]:
x_train.shape ,y_train.shape

((99, 4), (99,))

In [22]:
x_test.shape ,y_test.shape

((25, 4), (25,))

In [23]:
x_train.isnull().sum()

High     0
Low      0
Open     0
Close    0
dtype: int64

In [24]:
x_train.dtypes

High     float64
Low      float64
Open     float64
Close    float64
dtype: object

In [25]:
x_train_final = x_train.values.T
x_test_final = x_test.values.T

In [26]:
y_train_final =y_train.values.reshape(1,y_train.count())
y_test_final = y_test.values.reshape(1,y_test.count())

<h3>Create Placeholder</h3>

In [27]:
def create_placeholder(n_x,n_y):
    X =tf.placeholder(tf.float32 ,shape =(n_x ,None),name ="X")
    Y =tf.placeholder(tf.float32 ,shape =(n_y ,None),name ="Y")
    return X,Y

In [28]:
X,Y =create_placeholder(10,1)
print("X =" +str(X))
print("Y ="+str(Y))

NameError: name 'tf' is not defined

<h3>Initializing the Parameters</h3>

In [ ]:
def initialize_parameters():
    tf.set_random_seed(1)
    W1 =tf.get_variable("W1", [5,10],initializer =tf.contrib.layers.xavier_initializer(seed =1))
    W2 =tf.get_variable("W2", [10,5],initializer =tf.contrib.layers.xavier_initializer(seed =1))
    W3 =tf.get_variable("W3", [1,10],initializer =tf.contrib.layers.xavier_initializer(seed =1))
    b1 =tf.get_variable("b1", [5,1],initializer =tf.zeros_initializer())
    b2 =tf.get_variable("b2", [10,1],initializer=tf.zeros_initializer())
    b3 =tf.get_variable("b3", [1,1],initializer =tf.zeros_initializer())
    
    parameters  ={"W1":W1,
                   "b1":b1,
                   "W2":W2,
                   "b2":b2,
                   "W3":W3,
                   "b3":b3}
    return parameters

In [ ]:
tf.reset_default_graph()
with tf.Session() as sess:
    parameters =initialize_parameters()
    print("W1=" +str(parameters["W1"]))
    print("b1=" +str(parameters["b1"]))
    print("W2=" +str(parameters["W2"]))
    print("b2=" +str(parameters["b2"]))

<h1>5- Forward propagation in tensorflow</h1>

In [ ]:
def forward_propagation(X,parameters):
    W1 = parameters['W1']
    b1 = parameters['b1']
    W2 = parameters['W2']
    b2 = parameters['b2']
    W3 = parameters['W3']
    b3 = parameters['b3']
    ### START CODE HERE
    Z1 =tf.add(tf.matmul(W1,X),b1)
    A1 = tf.nn.relu(Z1)
    Z2 = tf.add(tf.matmul(W2,A1),b2)
    A2 = tf.nn.relu(Z2)
    Z3 = tf.add(tf.matmul(W3,A2),b3)
    return Z3

In [ ]:
tf.reset_default_graph()
with tf.Session() as sess:
    X,Y = create_placeholder(10,1)
    parameters = initialize_parameters()
    Z3 = forward_propagation(X,parameters)
    print("Z3 =" +str(Z3))

<h1>6-Compute Cost</h1>

In [ ]:
def compute_cost(Z3 ,Y):
    logits =tf.transpose(Z3)
    labels =tf.transpose(Y)
    ### START CODE HERE
    cost = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(logits =logits,labels = labels))
    return cost

In [ ]:
tf.reset_default_graph()
with tf.Session() as sess:
    X,Y = create_placeholder(10,1)
    parameters = initialize_parameters()
    Z3 = forward_propagation(X,parameters)
    cost = compute_cost(Z3,Y)
    print("cost = " +str(cost))

<h1>7-Calculating Accuracy</h1>

In [ ]:
def calcualte_accuracy(z,y):
    z_array = np.array(z).T
    y_array = np.array(y).T
    yhat_labels = (z-array > 0.5).astype(np.int)
    correct_labels = np.sum(y_array ==yhat_labels)
    accuracy = correct_labels/y_array.shape[0]
    return accuracy

<h1>8-Backward propagation & parameter updates</h1>

<h1>9-Building the model</h1>

In [ ]:
def model(X_train, Y_train, X_test, Y_test ,learning_rate  =0.0001,num_epochs =501,print_cost = True):
    ops.reset_default_graph()
    tf.set_random_seed(1)
    seed = 3
    (n_x,m) = X_train.shape
    n_y = Y_train.shape[0]
    costs = []
    train_acc = []
    test_acc = []
    X,Y = create_placeholder(n_x,n_y)
    parameters = initialize_parameters()
    
    Z3 = forward_propagation(X,parameters)
    cost = compute_cost(Z3,Y)
    optimizer = tf.train.GradientDescentOptimizer(learning_rate  = learning_rate).minimize(cost)
    init = tf.global_variables_initializer()
    with tf.Session() as sess:
        sess.run(init)
        for epoch in range(num_epochs):
            seed = seed+1
            _,c = sess.run([optimizer ,cost],feed_dict = {X:X_train , Y:Y_train})
            epoch_cost = c
            epoch_train_Z = sess.run(Z3,feed_dict ={X:X_train})
            epoch_train_accuracy = calculate_accuracy(epoch_test_Z,Y_test)
            if print_cost == True and epoch % 100 == 0:
                print("Cost after epoch %i: %f" % (epoch ,epoch_cost))
            if print_cost == True and epoch % 5 == 0:
                costs_acc.append(epoch_train_accuracy)
                test_acc.append(epoch_test_accuracy)
                plt.plot(np.squeeze(costs))
                plt.ylabel('cost')
                plt.xlabel('iterations (per tens)')
                plt.title("Learning rate = "+str(learning_rate))
                plt.show()
                plt.figure(figsize = (13,7))
                plt.plot(np.squeeze(train_acc),color = "red")
                plt.plot(np.squeeze(test_acc),color = "blue")
                plt.ylabel('Accuracy')
                plt.xlabel('iterations (per tens)')
                plt.title("Training Accuracy(Red) vs.Test Accuracy (Blue) Trend")
                plt.show()
                parameters = sess.run(parameters)
                print("Parameters have been trained!")
                train_Z =sess.run(Z3 ,feed_dict ={X:X_train})
                train_accuracy = calculate_accuracy(train_Z ,Y_train)
                test_Z = sess.run(Z3 ,feed_dict ={X:X_test})
                test_accuracy = calculate_accuracy(test_Z,Y_test)
                print("Train Accuracy:",train_accuracy)
                print("Test Accuracy:",test_accuracy)
                return parameters

In [ ]:
parameters = model(x_train_final,y_train_final ,x_test_final,y_test_final)